.inline-block{
    display: inline-block;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default{
    background: rgba(32,194,108, 1) !important;
    height: 50px;
    margin-bottom: 0px;
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover{
    color: #FFFFFF;
    background: rgba(32,194,108, 1) !important;
}
.navbar-nav {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-brand>img{
    height: calc(100% - 1px);
}
.navbar-brand {
    height: 50px;
    padding: 5px 0;
}
.nav-sidebar {
    width: 100%;
    padding: 0px;
    border: 1px solid #333;
    background: #333;
}
.nav-sidebar a {
    color: #FFFFFF;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar li:hover ,.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(32,194,108, 1);
}
.nav-sidebar .active a {
    cursor: default;
    background-color: rgba(32,194,108, 1);
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}
.nav-sidebar .active a:hover {
    background-color: rgba(32,194,108, 1);
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #333;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}